/* grid  ------------------------------------- */

/* after pseudo */
.item-0-div::after,
.item-1-div::after,
.item-2-div::after,
.item-3-div::after,
.item-4-div::after,
.item-5-div::after,
.item-6-div::after {
  content: "";
  height: 69px;
  width: 140px;
  background-color: rgba(66, 59, 59, 0.5);
  position: absolute;
  left: -49px;
  bottom: 50%;
  border-radius: 0 50px 50px 0;
  transform: rotate(30deg);
  transition: all 0.4s;
  z-index: 5;
}

.item-0-div:hover:after,
.item-1-div:hover:after,
.item-2-div:hover:after,
.item-3-div:hover:after,
.item-4-div:hover:after,
.item-5-div:hover:after,
.item-6-div:hover:after {
  background-color: rgb(255, 255, 255);
}

/* before pseudo */
.item-0-div::before,
.item-1-div::before,
.item-2-div::before,
.item-3-div::before,
.item-4-div::before,
.item-5-div::before,
.item-6-div::before {
  width: 50%;
  position: absolute;
  transition: all 0.4s;
  z-index: 6;
  display: block;
  transform: scale(0.65);
  filter: contrast(150%);
}

.item-0-div::before {
  content: url("../../../assets/images/featured/buquet.svg");
  left: -5%;
  bottom: 45%;
}

.item-1-div::before {
  content: url("../../../assets/images/featured/brush.svg");
  left: -5%;
  bottom: 45%;
}

.item-2-div::before {
  content: url("../../../assets/images/featured/cut.svg");
  left: -5%;
  bottom: 45%;
}

.item-3-div::before {
  content: url("../../../assets/images/featured/hair.svg");
  left: -5%;
  bottom: 45%;
}

.item-4-div::before {
  content: url("../../../assets/images/featured/eye.svg");
  left: -5%;
  bottom: 45%;
}

.item-5-div::before {
  content: url("../../../assets/images/featured/face.svg");
  left: -5%;
  bottom: 45%;
}

.item-6-div::before {
  content: url("../../../assets/images/featured/hand.svg");
  left: -5%;
  bottom: 45%;
}

.item-0-div:hover:before,
.item-1-div:hover:before,
.item-2-div:hover:before,
.item-3-div:hover:before,
.item-4-div:hover:before,
.item-5-div:hover:before,
.item-6-div:hover:before {
  transform: scale(0.66);
  filter: none;
}

/* grid items */
.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-0:hover,
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover,
.item-6:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0);
}

.item-0-div,
.item-1-div,
.item-2-div,
.item-3-div,
.item-4-div,
.item-5-div,
.item-6-div {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.item-0-div {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-1-div {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item-2-div {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.item-3-div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-4-div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item-5-div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.item-6-div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  width: 100%;
  height: 100%;
}

.item-0 {
  background-image: url("../../../assets/images/featured/bride.png");
}

.item-1 {
  background-image: url("../../../assets/images/featured/makeup.png");
}

.item-2 {
  background-image: url("../../../assets/images/featured/haircut.png");
}

.item-3 {
  background-image: url("../../../assets/images/featured/hairstyle.png");
}

.item-4 {
  background-image: url("../../../assets/images/featured/eyebrow.png");
}

.item-5 {
  background-image: url("../../../assets/images/featured/massage.png");
}

.item-6 {
  background-image: url("../../../assets/images/featured/nails.png");
}

/* Media queries */

@media screen and (max-width: 1000px) {
  .item-0-div {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .item-1-div {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item-2-div {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .item-3-div {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item-4-div {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .item-5-div {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item-6-div {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 620px) {
  .item-0-div,
  .item-1-div,
  .item-2-div,
  .item-3-div,
  .item-4-div,
  .item-5-div,
  .item-6-div {
    height: 20rem;
  }
}
