header {
  background-image: url("/src/assets/images/background/background-wide.png");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
}

section {
  background-image: url("/src/assets/images/who-we-are/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  min-height: 600px;
}
