.card-item-div {
  transition: all 0.2s;
}

.card-item-div:hover {
  background: rgb(25, 51, 25);
  background: linear-gradient(
    143deg,
    rgba(25, 51, 25, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(25, 51, 25, 1) 100%
  );
  color: white;
}
