/* css for all pages */

.loading-bg {
  background: rgb(203, 161, 53);
  background: linear-gradient(
    143deg,
    rgba(203, 161, 53, 0.5902439024390245) 0%,
    rgba(249, 247, 247, 0.578048780487805) 50%,
    rgba(203, 161, 53, 0.5585365853658537) 100%
  );
}

.about-cta {
  padding: 1.82rem 3.6rem;
  transition: all 0.3s;
  width: 21rem;
}

.about-cta::after {
  content: "";
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(63, 63, 63, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.about-cta:hover:after {
  content: "";
  width: 20rem;
  height: 5.5rem;
  border: 1px solid #ff0336;
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.nav-btn-hover:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

.title-white {
  filter: brightness(0) invert(1);
}

/* choose us */

.choose-cta {
  transition: all 0.4s;
  margin-top: 4rem;
}

.choose-cta::after {
  border: 2px solid rgb(89, 89, 89, 0.5);
}

.choose-cta:hover:after {
  border: 2px solid #ff0336;
}

/* price section */

.pricing-cta {
  transition: all 0.4s;
  margin-top: 4rem;
}

.pricing-cta::after {
  border: 2px solid #ff03353b;
}

.pricing-cta:hover:after {
  border: 2px solid #ff0336;
}

/* cta banner */

.cta-banner-btn {
  padding: 18px 22px;
}

/* Media Queries */

@media screen and (max-width: 620px) {
  .page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
